body{
  background-color:lightpink;
}

h1{
  text-align:center;
}

card{
  background-color:white;
  border-radius:20px;
  padding:20px;
  widt:300px;
  margin:auto;
  box-shadow:0px 5px 15px gray;
}

button{
  
