body{
  background-color:lightpink;
  margin:0;
}

.logo{
  color:white;
  margin-right:50px;
}

.sound{
  margin-right:40px;
}

.navbar{
  background-color:rgba(0,0,0,0.5);
  display:flex;
  align-items:center;
  padding:20px 40px;

  position:fixed;
  top:0;
  left:0;
  right:0;

  box-shadow:0 3px 10px rgba(0,0,0,0.3);
}

.menu{
  gap:0px;
  align-items:center;
  display:flex;
}

.menu a{
  align-items:center;
  text-decoration:none;
  color:white;
  gap:0px;
  padding:20px 20px;

  border-top:4px solid transparent;
  transition:0.3s;
}

.menu a:hover{
  border-top:4px solid gold;
  background-color:rgba(255,255,255,0.1);
  color:white;
}

.dropdown{
  position:relative;
}

.dropdown-menu{
  display:none;

  position:absolute;
  top:100%;
  left:0%;

  min-width:180px;

  background-color:rgba(0,0,0,0.2);
  border-radius:5px;
  overflow:hidden;
  padding:20px 20px;
}

.dropdown:hover .dropdown-menu{
  display:block;
}

dropdown-menu a{
  display:block;
  padding:20px 20px;
  white-space:nowrap;
}
