body{
  background-color:lightpink;
  margin:0;
}

.logo{
  color:white;
  margin-right:30px;
}

.sound{
  margin-right:60px;
}

.navbar{
  background-color:rgba(0,0,0,0.5);
  display:flex;
  align-items:center;
  padding:15px 40px;

  position:fixed;
  top:0;
  left:0;
  right:0;

  box-shadow:0 3px 10px rgba(0,0,0,0.3);
}

.menu a{
  display:inline-block;
  text-decoration:none;
  color:white;
  gap:0px;
  padding:15px 20px;

  border-top:4px solid transparent;
  transition:0.3s;
}

.menu a:hover{
  border-top:4px solid gold;
  background-color:rgba(255,255,255,0.1);
  color:white;
}
